*{
    margin:0;
    padding:0;
}
body {
    font:14px/1.3 Arial,sans-serif;
}
body {
background-image: url("../imagenes/concept.jpg");
background-attachment: fixed;
background-size: cover;
}
.jumbotron {
	background-color: rgba(253, 254, 254, 0.6);
	width: 1500px;
	margin:auto;
}
.logo {
	display: flex;
	justify-content: space-around;
	margin-left:20%;
	margin-right:20%;
}
h1{
 color:#003d66;
 margin-top:40%;
 font-size: 400%;
}
.margen{
	margin-left:10%;
	margin-right:10%;	
}
h3{
 color:#007a99;
 text-align:center;
 margin-top:3%;
 font-size: 300%;
}
h2{
	margin-top:3%;
	margin-bottom:3%;
}
.slider {
	width: 35%;
	margin: auto;
	overflow: hidden;
	border: solid red 2px;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 200%;
	animation: cambio 20s infinite alternate linear;
	border: solid blue 2px;
}

.slider li {
	width: 100%;
	list-style: none;
	border: solid orange 2px;
}

.slider img {
	width: 100%;
	border: solid pink 2px;
}

@keyframes cambio {
	0% {margin-left: 0;}
	
	50% {margin-left: -100%;}

	100% {margin-right: 75%;}
	
	150% {margin-left: -100%;}
}