*{
    margin:0;
    padding:0;
}
body {
    font:14px/1.3 Arial,sans-serif;
}
.container {
    margin: 30px auto;
    width: 957px;
}
footer {
	color: #006bb3;
	font-size: 500%;
	display: flex;
	justify-content: space-around;
	margin-left:36%;
	margin-right:36%;		
}
