*{
    margin:0;
    padding:0;
}
body {
    font:14px/1.3 Arial,sans-serif;
}
body {
background-image: url("../imagenes/modelado.jpg");
background-attachment: fixed;
background-size: cover;
}
.jumbotron {
	background-color: rgba(253, 254, 254, 0.6);
	width: 1500px;
	margin:auto;
}
.logo {
	text-align:center;
}
.margen{
	margin-left:10%;
	margin-right:10%;	
}
.contenedor:hover video {transform:scale(1.1);}

.contenedor {
	overflow:hidden;
}
.caja .contenedor{
	display: flex;
	width:500%;
}

.caja .left{
	text-align:left;
	margin-left:50%;
	margin-top:9%;
}
.crece{
	margin-top:4%;
	margin-bottom:4%;
	margin-left:6%;
	margin-right:10%;
	width:42%;
	height:21%;
}
.caja{
	display: flex;
	justify-content: space-between;
}
h1{
 color:#007399;
 text-align:center;
 margin-top:3%;
 font-size: 300%;
 
}
img{
	margin-top:4%;
}