*{
    margin:0;
    padding:0;
}
body {
    font:14px/1.3 Arial,sans-serif;
}
body {
background-image: url("../imagenes/web.jpg");
background-attachment: fixed;
background-size: cover;
}
.jumbotron {
	background-color: rgba(253, 254, 254, 0.6);
	width: 1500px;
	margin:auto;
}
.logo {
	text-align:center;
}